<div data-controller="tabs" data-tabs-active-tab-class="-mb-px border-l border-t border-r rounded-t">
  <ul class="list-reset flex border-b">
    <li class="-mb-px mr-1" data-tabs-target="tab" data-action="click->tabs#change:prevent">
      <a class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-700 font-semibold no-underline" href="#">プリセット一覧</a>
    </li>
  </ul>

  <div class="hidden py-4 px-4 border-l border-b border-r" data-tabs-target="panel">
	  <% @admin_service_presets.each do |admin_service_preset| %>
	    <%= render admin_service_preset %>
	    <p>
	      <%= link_to "Show this service preset", admin_service_preset %>
	    </p>
	  <% end %>
  </div>
</div>
