<% content_for :title, "サービスの編集" %>

<h1>サービスの編集</h1>

<%= render "form", subscription_service: @subscription_service %>

<%= button_to "このサービスを削除する", @subscription_service, method: :delete, data: {turbo_confirm: "本当に削除しますか？"} %>
