<% content_for :title, t("helpers.heading.edit", model: t("activerecord.models.subscription_service")) %>

<h1><%= t("helpers.heading.edit", model: t("activerecord.models.subscription_service")) %></h1>

<%= render "form", subscription_service: @subscription_service %>

<%= button_to t("helpers.submit.delete"), @subscription_service, method: :delete, data: {turbo_confirm: "本当に削除しますか？"} %>
