<% content_for :title, "New subscription service" %>

<h1><%= t("helpers.heading.new", model: t("activerecord.models.subscription_service")) %></h1>

<%= render "form", subscription_service: @subscription_service %>
