<h2><%= t("helpers.heading.service_name") %></h2>

<p>登録しているサブスクリプションを管理できるサービスです</p>

<button>
  <%= link_to t("helpers.login"), new_user_session_path %>
</button>

<button>
  <%= link_to t("helpers.register"), new_user_registration_path %>
</button>
