<% content_for :title, "Editing service preset" %>

<h1>Editing service preset</h1>

<%= render "form", admin_service_preset: @admin_service_preset %>

<div><%= button_to "削除する", admin_service_preset_path, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

<div>
  <%= link_to "Back to service presets", admin_root_path %>
</div>
