<% content_for :title, "New service preset" %>

<h1>プリセットの登録</h1>

<%= render "form", admin_service_preset: @admin_service_preset %>

<br>

<div>
  <%= link_to "プリセット一覧に戻る", admin_service_presets_path %>
</div>
