<% content_for :title, "Editing subsc service" %>

<h1>Editing subsc service</h1>

<%= render "form", subsc_service: @subsc_service %>

<br>

<div>
  <%= link_to "Show this subsc service", @subsc_service %> |
  <%= link_to "Back to subsc services", subsc_services_path %>
</div>
