<% content_for :title, "New subsc service" %>

<h1>New subsc service</h1>

<%= render "form", subsc_service: @subsc_service %>

<br>

<div>
  <%= link_to "Back to subsc services", subsc_services_path %>
</div>
