<div class="mx-auto max-w-5xl px-4 py-16 sm:px-6 lg:px-8">
    <ul class="mt-12 flex flex-wrap justify-center gap-6 md:gap-8 lg:gap-12">
      <li>
        <a class="text-gray-700 transition hover:text-gray-700/75" href="#">サブスク管理について</a>
      </li>

      <li>
        <a class="text-gray-700 transition hover:text-gray-700/75" href="#">利用規約</a>
      </li>

      <li>
        <a class="text-gray-700 transition hover:text-gray-700/75" href="#">プライバシーポリシー</a>
      </li>
    </ul>
</div>
