<div class="mx-auto max-w-md px-4 py-16 sm:px-6 lg:px-8">
  <ul class="mt-12 flex flex-wrap justify-center gap-6 md:gap-8 lg:gap-12">
    <li>
      <%= link_to t("helpers.term"), page_path("terms"), class: "font-medium text-blue-600 hover:underline" %>
    </li>

    <li>
      <%= link_to t("helpers.policy"), page_path("privacy_policy"), class: "font-medium text-blue-600 hover:underline" %>
    </li>
  </ul>
</div>
